* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: darkred;
  height: 90px;
  font-size: 0.9em;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 900px;
}

.main, .logo, .content {
  margin-left: auto;
  margin-right: auto;
}

.logo h1 {
  font: normal 300% 'oldtown', oldtown , Fantasy;
  margin: 0 0 0 179px;
}

.logo_text h1 {
  padding: 22px 0 0 0;
  color: #fff;
  letter-spacing: 0.1em;
  text-decoration: none;
}

.content{
  margin: 20px 0 0 200px;

}
.content h1{
  
  width: 320px;
  margin: 20px 0 0 290px;
  padding:0 0 0 5px;
  font: normal 400% 'oldtown', oldtown , monospace;
  color: #777;
}
.img{
  margin-bottom: 5%;

}
.img img{
  margin:  30px 35px 5px 0;
  border-radius: 35px;

}
.btn {
  padding: 13px;
  text-align:center;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
  border-radius: 8px;
}